@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7ppmts');
	src:url('fonts/icomoon.eot?7ppmts#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?7ppmts') format('truetype'),
		url('fonts/icomoon.woff?7ppmts') format('woff'),
		url('fonts/icomoon.svg?7ppmts#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-bangzhu:before {
	content: "\e900";
}
.icon-iconfont-card:before {
	content: "\e901";
}
.icon-iconfont-chahuafei:before {
	content: "\e902";
}
.icon-iconfont-dibiao:before {
	content: "\e903";
}
.icon-iconfont-erweima:before {
	content: "\e904";
}
.icon-iconfont-feijichang:before {
	content: "\e905";
}
.icon-iconfont-fenxiang:before {
	content: "\e906";
}
.icon-iconfont-file:before {
	content: "\e907";
}
.icon-iconfont-gengduo:before {
	content: "\e908";
}
.icon-iconfont-idcard:before {
	content: "\e909";
}
.icon-iconfont-jiudian:before {
	content: "\e90a";
}
.icon-iconfont-menu:before {
	content: "\e90b";
}
.icon-iconfont-mima:before {
	content: "\e90c";
}
.icon-iconfont-picture:before {
	content: "\e90d";
}
.icon-iconfont-qichezhan:before {
	content: "\e90e";
}
.icon-iconfont-qingdan:before {
	content: "\e90f";
}
.icon-iconfont-qunzu:before {
	content: "\e910";
}
.icon-iconfont-rili:before {
	content: "\e911";
}
.icon-iconfont-shanchu:before {
	content: "\e912";
}
.icon-iconfont-shangchuan:before {
	content: "\e913";
}
.icon-iconfont-shezhi:before {
	content: "\e914";
}
.icon-iconfont-shizhong:before {
	content: "\e915";
}
.icon-iconfont-shouye:before {
	content: "\e916";
}
.icon-iconfont-sitting:before {
	content: "\e917";
}
.icon-iconfont-sousuo:before {
	content: "\e918";
}
.icon-iconfont-wenbenbianji:before {
	content: "\e919";
}
.icon-iconfont-xiajiantou:before {
	content: "\e91a";
}
.icon-iconfont-xiazai:before {
	content: "\e91b";
}
.icon-iconfont-yanjing:before {
	content: "\e91c";
}
.icon-iconfont-yonghu:before {
	content: "\e91d";
}
.icon-iconfont-tianjiayonghu:before {
	content: "\e91e";
}

